<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="WaitTime" value="00:00:01" />
      <add key="BrightnessLocked" value="0" />
      <add key="BrightnessUnlocked" value="30" />
    </appSettings>
</configuration>